.main-footer {
  background-color: #404040;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../img/border-footer@1x.jpg);
  background-position: top;
  background-repeat: repeat-x;
  color: #ffffff;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url(../img/border-footer@2x.jpg);
    background-size: 19px auto;
  }
}

.main-footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-header__title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main-header__list {
  width: 200px;
}

.main-header__item {
  margin-bottom: 12px;
}

.main-header__link {
  color: #ffffff;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}
