.popular {
  padding-top: 100px;
  padding-bottom: 80px;
}

.popular__title {
  font-size: 30px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.popular__description {
  color: #717171;
  text-align: center;
  margin: 0;
  margin-bottom: 80px;
}

.popular__more {
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.popular__price {
  box-sizing: border-box;
  margin-bottom: auto;
  min-width: 100px;
  padding: 15px;
  height: 42px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: $accent-color;
  color: #ffffff;
  font-weight: 600;
}

.popular__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
}

.popular__item {
  position: relative;
  margin-bottom: 30px;

  img {
    vertical-align: bottom;
  }
}

.popular__link {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 63%, rgba(0, 0, 0, 0) 100%);
  padding: 25px;
  align-items: flex-start;
  border-radius: 4px;
  transition: 0.25s;

  &:hover {
    box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.30);
    transition: 0.25s;
  }
}

.popular__model-boat {
  font-size: 30px;
  line-height: 40px;
  color: #ffffff;
  margin: 0;
}

.popular__city,
.popular__berth {
  padding-left: 22px;
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.popular__city {
  margin-right: 30px;
}

.popular__attribute {
  display: flex;
}
