.search-form {
  margin: 0 auto;
  width: 770px;
  display: flex;
}

.search-form__field {
  padding: 20px 30px;
  border: none;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  flex-grow: 5;
}
